*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:   'Calibri', 'Open Sans' , 'sans-serif';
    background-image: url(../img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    display: none;
}
header > img{
    margin-left: 15em;
    width: 15%;
    height: 15%;
}
nav > ul{
    margin-left: 40em;
    margin-top: -5em;
    margin-right: 10%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-items: right;
    justify-content: space-around;
    align-items: center;
    background: #202020;
    width: 60%;
    height: 7em;
    border-radius: 15px;
}
nav a{
    text-decoration: none;
    color: #fc9933;
    font-size: 40pt;
    
}nav a:hover{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    color: #fff;
    font-size: 40pt;
}
main{
    margin-top: -1em;
    background-image: url(../img/fundo_sac.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
main h2{
    font-size: 72pt;
    color: #fc9933;
    text-align: center;
}
.cx{
    background: #fc9933;
    border: 5px solid #000;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 80%;
    margin-bottom: 5em;
}
.cx img{
    width: 80px;
    height: 80px;
}
.cx p{
    font-size: 30pt;
}
#depoimentos{
    background: #000;
    border: 5px solid #fc9933;
    height: 250;
}
#depoimentos h2{
    font-size: 72pt;
    text-align: center;
    color: #fc9933;
} 
.box_dep{
    background: #fc9933;
    margin: auto;
    width: 1800px;
    height: 250px;
    margin-bottom: 3em;
    font-size: 30pt;
    display: flex;
    
}
.txt{
    display: flex;
    flex-direction: row;
}
.txt_dentro{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.stars{
    margin: auto;
    background: #000;
    width: 650px;
    height: 100px;
    border: 5px solid #474747;
    border-radius: 70px;
    display: flex;
    flex-direction: unset;
    justify-content: center;
}
.stars img{
    width: 90%;
}
.ctts h2{
    margin-top: 0.5em;
    color: #fc9933;
    background: #000;
    border: 5px solid #fc9933;
    font-size: 72pt;
    text-align: center;
}
address{
    color: #fc9933;
    font-size: 20pt;
    text-align: center;
}
.login{
    background: #000;
    color: #fc9933;
    width: 50%;
    height: 150px;
    border: 5px solid #fff;
    margin: auto;
    margin-top: 1em;
    display: flex;
    align-items: center;   
}
.login p{
    font-size: 30pt;
}
.login a{
    font-size: 40pt;
    color: #fff;
    text-decoration: none;
}